.row
  .col-md-4
    = image_tag @book.book_img.url(:medium), class: "book-show"

  .col-md-8
    .book-info
      %h2.book-title
        = @book.title
      %h3.book-author
        = @book.author
      %h3.avg-rating
        "Average Rating"
      .average-review-rating{"data-score" => @average_review}
      %span.number-of-reviews
        Based on
        = @book.reviews.count
        Reviews
      %p= @book.description

.row
  .col-md-4
    .reviews
      %h1 Reviews
      = render @book.reviews
      %div
        = link_to "Add Review", new_book_review_path(@book), class: "btn-custom"

.links.btn-group
  = link_to "Back", root_path, class: "btn btn-custom"
  - if user_signed_in?
    - if @book.user_id == current_user.id
      = link_to "Edit", edit_book_path(@book), class: "btn btn-custom"
      = link_to "Delete", book_path(@book), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-custom"


:javascript
  $('.review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });

:javascript
  $('.average-review-rating').raty({
    readOnly: true,
    path: '/assets/',
    score: function() {
      return $(this).attr('data-score')
    }
  });