%nav.navebar.navbar-default
  .container
    .navbar-header
      = link_to "Book Review", root_path, class: "navbar-brand"
    %ul.nav.navbar-nav
      - if user_signed_in?
        %li= link_to "Sign Out", destroy_user_session_path, method: :delete
      - else
        %li= link_to "Sign Up", new_user_registration_path
        %li= link_to "Log In", new_user_session_path
    %ul.nav.navbar-nav.navbar-right
      %li.dropdown
        %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          Categories
          %span.caret
        %ul.dropdown-menu{:role => "menu"}
          - Category.all.each do |category|
            -if params[:category] == category.name
              %li.active
                = link_to category.name, books_path(category: category.name), class: "link"
            -else
              %li
                = link_to category.name, books_path(category: category.name), class: "link"
      - if user_signed_in?
        %li= link_to "Add Book", new_book_path